.roboto{
	font-family: Roboto Slab !important;
}
.abel{
	font-family: Abel;
}
.size-2{
	font-size:2em;
}
.full-dimension{
	position: relative;
	height: 100%;
	width:100%;
}
.test{
	background: rgba(0,0,0,0.2);
}
.ng-full-height{
	height: calc(100% - 64px) !important;
}
.full-height{
	position: relative;
	height: 100%;
}
.full-width{
	position: relative;
	width: 100%;
}
.width-90{
	position: relative;
	width: 90%;
}
.width-60{
	position: relative;
	width: 60%;
}
.width-99{
	position: relative;
	width: 99%;
}
.white-background{
	background: #fff;
}
.bg-white{
	border-top-color:#fff;
}
.scale-8{
	transform:scale(0.8);
}
.scale-13{
	transform:scale(1.3);
}
.scale-20{
	transform:scale(2.0);
}
.button-border{
	border:1px solid #9e9e9e;
}
.grey-bg{
	background: #2f2f2f !important;
}
.light-grey-bg{
	background: #bdbdbd;
}
.weight-600{
	font-weight: 600;
}
.weight-600{
	font-weight: 600;
}
.weight-400{
	font-weight: 400;
}
.weight-300{
	font-weight: 300;
}
.padding-20{
	padding:20px !important;
}
.padding-top-5{
	position: relative;
	padding-top: 5px !important;
}
.padding-2{
	position: relative;
	padding: 2px !important;
}
.padding-5{
	position: relative;
	padding: 5px !important;
}
.padding-top-10{
	position: relative;
	padding-top: 10px !important;
}
.padding-top-20{
	position: relative;
	padding-top: 20px !important;
}
.padding-top-50{
	position: relative;
	padding-top: 50px !important;
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}
.padding-0{
	padding: 0 !important;
}
.margin-0{
	margin: 0 !important;
}
.margin-33{
	position:relative;
	margin:33% !important;
}
.margin-bottom-10{
	margin-bottom:50px !important;
}
.margin-top-10{
	position: relative;
	margin-top: 10px !important;
}
.margin-top-bottom-20{
	position: relative;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.margin-top-bottom-10{
	position: relative;
	position: relative;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.margin-left-right-7{
	position: relative;
	margin-left: 7px !important;
	margin-right: 7px !important;
}
.left-shadow{
	box-shadow: -1px 0px 5px #bdbdbd;
}
.spacing-1{
	letter-spacing: 1px;
}
.spacing-2{
	letter-spacing: 2px;
}
.pointer{
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.border-left-right{
	border-left:1px solid #616161;
	border-right:1px solid #616161;
}
.border{	
	border:1px solid #757575;
}
.border-grey-1{
	border:1px solid #bdbdbd;
}
.color-white{
	color:white;
}
.text-white{
	color:white;
}
.text-light-white{
	color:#dedede;
}
.text-grey{
	color:#757575;
}
.text-center{
	text-align: center;
}
.hide-overflow{
	overflow-y:hidden;
}
.hide-overflow-x{
	overflow-x:hidden;
	overflow-y:hidden;
}
.nowrap{
	white-space: nowrap;
}
.pointer{
	cursor:pointer;
}
.text-center{
	text-align: center;
}
.gradient-black{
	

background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E6DADA , #174046); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E6DADA , #174046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.color-blue{
	background-color: #424242 !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-1{
background: #232526; /* fallback for old browsers */
background: linear-gradient(to bottom, #232526 , #111111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.background-transparent{
	background: transparent !important;
}
md-ink-bar{
	background:#fff !important;
}
md-tab-item span{
	font-family: abel;
	font-size:1.1em;
	letter-spacing: 1.5px;
	font-weight: 500;
}
.pop-up{
	transition:0.1s all;
}
.pop-up:hover{
}
.border-top{
	border-top:1px solid #757575;
}
.centering{
	position: relative;
	left:50%;
	transform:translateX(-50%);
}
.half-width{
	position: relative;
	width: 50%;
}
.inline{
	display: inline;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.border-top-bottom-1{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}