body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif-light, sans-serif !important;
    background: #070707;
    color: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#MainFrame {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    perspective: 1000px;
}

#Loader {
    z-index: 3;
    opacity: 0;
}

#MainSVG {
    opacity: 0;
    width: 854px;
    height: 480px;
    margin: auto auto auto auto;
    z-index: 1;
}

.Link {
    position: fixed;
    z-index: 2;
    opacity: 0;
}

.Helper {
    position: fixed;
    z-index: 2;
    opacity: 0;
}

#FacebookShareButton {
    position: fixed;
    z-index: 2;
    top: 26px;
    left: 24px;
    opacity: 0;
}

#MenuFrame {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 100%;
    background: #0c0c0e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    opacity: 0;
}

#Logo {
    margin-top: 45px;
    margin-bottom: 20px;
}

#MenuFrame a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 1.2em;
    font-weight: 600;
    padding: 30px 0 0 35px;
    display: flex;
    outline: none;
}

#MainFrame a object {
    margin-right: 20px;
    margin-top: 1px;
}

#CategoryFrame {
    display: block;
    width: 250px;
    height: 100%;
    padding: 10px;
    word-wrap: normal;
    position: absolute;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

.Category {
    font-weight: 200;
    font-size: 2em;
    display: flex;
    cursor: pointer;
    opacity: 0;
    z-index: 0;
}

.EventsFrame {
    display: flex;
    height: 0;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    z-index: 1;
}

.Event {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: #1d3b11;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.Event table {
    width: 100%;
    height: 100%;
}

.Event .Head {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding:0 7px 0 7px;
    text-align: left;
    width: 100%;
    height: 0;
}

.Event .Content {
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 7px;
    vertical-align: top;
    overflow: hidden;
    color: #cccccc;
    text-align: left;
}

.Event .SmallDescription {
    text-align: left;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.5em;
    width: 225px;
}

.CloseEvent {
    float: right;
    width: 14px;
    height: 14px;
    display: none;
    margin-top: 16px;
    margin-right: 16px;
    background-image: url('drawable/cross.svg');
    opacity: 0;
    outline: none;
}

.DetailedContent {
    display: none;
    padding: 0 25px 25px 25px;
    overflow: auto;
}

.DetailedContent .ContentHeader {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 400;
    display: block;
    margin-bottom: -15px;
}

.DetailedContent hr {
    border: 1px solid #3c3c43;
}

.DetailedContent p {
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.5em;
}

.ContactDetail {
    display: none;
    background-color: #18181b;
    width: 100%;
    height: 35px;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px 10px 10px 10px;
    text-align: right;
    box-sizing: border-box;
}

.ContactDetail .Left {
    float: left;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.bg-black {
    background: #323232;
}

.bg-ghorblack {
    background: #222222;
}

.margin-top-bottom-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.center-align {
    width: 100% !important;
    text-align: center;
}

.flat-edge * {
    border-radius: 0 !important;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 25px;
}

.flat-button {
    width: 300px !important;
    font-family: 'Segoe UI', sans-serif-light, sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 11px;
    text-align: center;
    border: 0;
}

.fb-button {
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #7986cb, #5c6bc0);
    background: -ms-linear-gradient(top, #7986cb, #5c6bc0);
    background: -webkit-linear-gradient(top, #7986cb, #5c6bc0);
}

.google-button {
    background-color: #ef5350;
    background: -moz-linear-gradient(top, #ef5350, #f44336);
    background: -ms-linear-gradient(top, #ef5350, #f44336);
    background: -webkit-linear-gradient(top, #ef5350, #f44336);
}

.close {
    outline: none;
    margin: 6px -16px 0 0;
}

.close img {
    width: 12px;
    height: 12px;
}

.footer {
    font-weight: 300;
}