body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif-light, sans-serif;
    background: #111111;
    color: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#MainFrame {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
}

#Loader {
    z-index: 3;
    opacity: 0;
}

#MainSVG {
    opacity: 0;
    width: 854px;
    height: 480px;
    margin: auto auto auto auto;
    z-index: 1;
}

.Link {
    position: fixed;
    z-index: 2;
    opacity: 0;
}

#FacebookShareButton {
    position: fixed;
    z-index: 2;
    top: 26px;
    left: 24px;
    opacity: 0;
}

#Header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: #181818;
    position: absolute;
    z-index: 2;
}

#CategoryFrame {
    display: block;
    width: 250px;
    height: 100%;
    padding: 10px;
    word-wrap: normal;
    position: absolute;
    z-index: 1;
}

.Category {
    font-weight: 200;
    font-size: 2em;
    display: flex;
    cursor: pointer;
    opacity: 0;
}

.EventsFrame {
    display: flex;
    height: 0;
    position: relative;
    perspective: 1000px;
}

.Event {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: #274f17;
    margin-right: 10px;
}

.Event .Head {
    font-size: 32px;
    font-weight: 300;
    padding-left: 7px;
    text-align: left;
    width: 250px;
}

.Event .Description {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    width: 250px;
    padding: 7px;
}