body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif-light, sans-serif;
    background: #070707;
    color: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#MainFrame {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    perspective: 1000px;
}

#Loader {
    z-index: 3;
    opacity: 0;
}

#MainSVG {
    opacity: 0;
    width: 854px;
    height: 480px;
    margin: auto auto auto auto;
    z-index: 1;
}

.Link {
    position: fixed;
    z-index: 2;
    opacity: 0;
}

.Helper {
    position: fixed;
    z-index: 2;
    opacity: 0;
}

#FacebookShareButton {
    position: fixed;
    z-index: 2;
    top: 26px;
    left: 24px;
    opacity: 0;
}

#MenuFrame {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 100%;
    background: #0c0c0e;
    position: absolute;
    z-index: 2;
    text-align: center;
    opacity: 0;
}

#Logo {
    margin-top: 45px;
    margin-bottom: 20px;
}

#MenuFrame a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 1.2em;
    font-weight: 600;
    padding: 30px 0 0 35px;
    display: flex;
}

#MainFrame a object {
    margin-right: 20px;
    margin-top: 1px;
}

#CategoryFrame {
    display: block;
    width: 250px;
    height: 100%;
    padding: 10px;
    word-wrap: normal;
    position: absolute;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

.Category {
    font-weight: 200;
    font-size: 2em;
    display: flex;
    cursor: pointer;
    opacity: 0;
}

.EventsFrame {
    display: flex;
    height: 0;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

.Event {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: #274f17;
    margin-right: 10px;
    cursor: pointer;
}

.Event .Head {
    font-size: 32px;
    font-weight: 300;
    padding-left: 7px;
    text-align: left;
    width: 250px;
}

.Event .Description {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    width: 250px;
    padding: 7px;
}